<div class="columns is-8">
  {{#if blogs.length}}
    {{#each blogs}}
      <div class="column">
        <div class="card blog-card column is-4" style="height: 524px;">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src='{{this.imageUrl}}'
                alt='{{this.title}}'
                class="has-background-primary-95"
              />
            </figure>
            </div>
            <div class="card-content px-0">
              <div class="media mb-2">
                <div class="">
                  <p class="subtitle is-6">{{formatDate this.createdAt ''}}</p>
                  <p class="title is-4">{{this.title}}</p>
                </div>
                <div class="media-content">
                </div>
              </div>
              <div class="content">{{this.description}}</div>
              <div class="actions">
                <button class="button"><a href="/blog/view/{{this._id}}"><i class='bx bx-book-open'></i></a></button>
              </div>
            </div>
        </div>
      </div>
    {{/each}}
  {{else}}
    {{> empty message="No blogs available right now"}}
  {{/if}}
</div>