<div class="row">
  {{#if blogs.length}}
    {{#each blogs}}
      <div class='col-4'>
        <article
          class='card card-blog rounded-lg col-span-3 border-1'
        >
          <div class='card-header border-b p-3'>
            <p class='text-xl font-semibold text-neutral-700'>{{this.title}}</p>
          </div>
          <div class='card-body p-3'>
            <p class='text-neutral-400'>
              <span>
                Public time:
              </span>
              <span>{{formatDate this.createdAt null}}</span></p>
            <img
              src='{{this.imageUrl}}'
              alt='{{this.title}}'
              style='width: auto; height: 180px;'
              class='py-2 object-fit-contain'
            />
            <p class='text-neutral-600'>{{this.description}}</p>
          </div>
          <div class='card-footer p-3 border-top d-flex justify-content-between'>
            <div class='space-x-2 flex'>
              <button class='btn btn-dark'><a href="/blog/view/{{this._id}}">View</a></button>
            </div>
            <div class='space-x-2 flex'>
              <button class='btn'>
                <i class='bx bx-cog'></i>
              </button>
            </div>
          </div>
        </article>
      </div>
    {{/each}}
  {{else}}
    {{> empty message="No blogs available right now"}}
  {{/if}}
</div>