<div class="columns">
  {{#if blogs.length}}
    {{#each blogs}}
      <div class='column is-one-third is-col-min-1'>
        <article
          class='card card-blog rounded-4 col-span-3 border'
        >
          <div class='card-header border-bottom p-3 is-flex is-justify-content-space-between'>
            <h4>{{this.title}}</h4>
            <span>{{formatDate this.createdAt null}}</span>
          </div>
          <div class='card-body p-3'>
            <img
              src='{{this.imageUrl}}'
              alt='{{this.title}}'
              style='height: 180px;'
              class='py-2 object-fit-contain w-100'
            />
            <p class='text-neutral-600'>{{this.description}}</p>
          </div>
          <div class='card-footer p-3 border-top is-flex is-justify-content-space-between'>
            <div class='space-x-2 flex'>
              <button class='button is-primary'><a href="/blog/view/{{this._id}}">View</a></button>
            </div>
            <div class='space-x-2 flex'>
              <button class='button'>
                <span class='icon is-small'>
                  <i class='bx bx-cog'></i>
                </span>
              </button>
            </div>
          </div>
        </article>
      </div>
    {{/each}}
  {{else}}
    {{> empty message="No blogs available right now"}}
  {{/if}}
</div>