<header class='is-flex px-4 is-justify-content-space-between border-bottom'>
  <div class='is-flex is-align-items-center'>
    <div class='header-logo d-inline'>
    </div>
    <nav class='navbar space-x-4' role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <h1 class='title d-inline text-contrast'>HauTrank2</h1>
      </div>
      <div class="navbar-start space-x-3 ml-6">
        {{#each navbars}}
          <a class="navbar-item {{this.pageName}} {{../page}} {{#if (eq ../page this.pageName)}}is-selected{{/if}}" href='{{#if (eq ../page this.pageName)}}#{{else}}{{this.path}}{{/if}}'>
            {{this.title}}
          </a>
        {{/each}}
      </div>
    </nav>
  </div>
  <div class='col'></div>
</header>